Please use these three image as reference , learn the where the key fields and value are usually located in the diagram.  the key fields highlighted in red , and the values of the key fileds of the threee images are listed below:


Image 1 - bridge 0006862:  

|  Field Name      | Value     |
| ------------- | ------------- |   
| SPAN | 	["Span 1","Span 2", "Span 3"] |
| D_WIDTH |  85'-11"  |
| GN |  10 |
| SD_TOTAL |  8 1/4"  |
| DOH_D	|  8 1/4"  |
| DOH_L	| 2'-5 1/2"  |
| GIRD_SPACE  |  9'-0"  |
| DOH_R	| 2'-5 1/2"   |
| D_EXT	|  9 5/8"  |
| D_INT	|  9 5/8"  |    
| TD_CLR	|  2 3/4"  |
| TD_SIZE & TD_SPA	|  500A BARS AT 5 3/8"  |
| TDOH_SIZE	& TDOH_SPA|  502 BAR AT EVERY OTHER 500 |
| BD_CLR	|  1"  |
| BD_SIZE & BD_SPA	|  501A BARS AT 8 3/4"  |


Image 2 - bridge 0007179 :

|  Field Name      | Value     |
| ------------- | ------------- |   
| SPAN | 	["Span 1","Span 2", "Span 3"] |
| D_WIDTH |  39'-3"  | NOTE: 36'-0" + 1'-7 1/2" + 1'-7 1/2"
| GN |  5  |
| SD_TOTAL |  8 1/4"  |
| DOH_D	|  8 1/4"  |
| DOH_L	| 3'-7 1/2"  |
| GIRD_SPACE  |  8'-0"  |
| DOH_R	| 3'-7 1/2"   |
| D_EXT	|  9 1/2"  |
| D_INT	|  9 1/2"  |    
| TD_CLR	|  2 1/4"  |
| TD_SIZE & TD_SPA	|  500A BARS AT 5 3/8"  |
| TDOH_SIZE	& TDOH_SPA|  500A BARS AT 5 3/8"  |
| BD_CLR	|  1"  |
| BD_SIZE & BD_SPA	|  501 AT 8 1/2"  |


Image 3 bridge 0013711:

|  Field Name      | Value     |
| ------------- | ------------- 
| SPAN | 	["Span 1","Span 2", "Span 3"] |
| D_WIDTH |  39'-1"  |   Note: 36'-0" + 1'-6 1/2" + 1'-6 1/2" 
| GN |  5 |
| SD_TOTAL |  7 3/4"  |
| DOH_D	|  8"  |
| DOH_L	| 3'-6 1/2"  |
| GIRD_SPACE  |  8'-0"  |
| DOH_R	| 3'-6 1/2"   |
| D_EXT	|  9 3/4"  |
| D_INT	|  9 3/8"  |    
| TD_CLR	|  2 1/4"  |
| TD_SIZE & TD_SPA	|  500A AT 6 1/4"  |
| TDOH_SIZE	& TDOH_SPA|  500B AT EVERY 500A   |
| BD_CLR	|  1"  |
| BD_SIZE & BD_SPA	|  501 AT 9"  |

